<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DocumentThumbnailConfiguration</key>
	<dict>
		<key>accentColorHash</key>
		<data>
		MxGCzuQOs+BEJiEfi4in0zXmrmyvUesFuU/Q4AHAQXI=
		</data>
		<key>appIconHash</key>
		<data>
		CWoltt1eGld9dEqezANhFgF6ykjG3ICLwLKG3sycjPA=
		</data>
		<key>thumbnailIsPrerendered</key>
		<false/>
	</dict>
</dict>
</plist>
